<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Otros - DulceBajón</title>
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	<!-- CSS -->
</head>

<body>
	<!-- NavBar -->
	<div th:replace="includes/navbar::navbar"></div><br>
	<!-- NavBar End -->

	<!-- Mega Container -->
	<div class="container">

		<!-- Acceso Directo -->
		<nav id="accesoDirecto" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/index}">INICIO</a></li>
				<li class="breadcrumb-item"><a th:href="@{/productos}">TODOS LOS PRODUCTOS</a></li>
				<li class="breadcrumb-item active" aria-current="page">OTROS</li>
			</ol>
		</nav>
		<!-- End Acceso Directo -->

		<!-- Imagen Principal -->
		<div class="container-principal">
			<br>
			<img src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621411558/otros_3_tovqhi.png"
				class="img-fluid">
		</div>
		<!-- End Imagen Principal -->

		<br><br>

		<!-- Productos -->
		<div class="container-listaproductos">
			<div class="card-deck">
				<div class="card">
					<a th:href="@{coleccion/otrosProductos/otros-alfajores}" class="card-img-top">
						<img class="card-img-top"
							src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621202483/alfajor2_2000x_uszqsh.jpg">
					</a>
					<div class="card-body">
						<h5 class="card-title">ALFAJORES</h5>
						<p class="card-text-money">desde $1</p><br>
						<p class="card-text"><small class="text-muted">Bolsa de 4, 6 y 12 unidades.</small></p>
					</div>
				</div>
				<div class="card">
					<a th:href="@{coleccion/otrosProductos/otros-galleton-avena}" class="card-img-top">
						<img class="card-img-top"
							src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621202483/galleton2_2000x_idp9aq.jpg">
					</a>
					<div class="card-body">
						<h5 class="card-title">GALLETÓN DE AVENA</h5>
						<p class="card-text-money">desde $1</p><br>
						<p class="card-text"><small class="text-muted">Bolsa de 4, 6 y 12 unidades.</small></p>
					</div>
				</div>
				<div class="card">
					<a th:href="@{coleccion/otrosProductos/otros-barritas}" class="card-img-top">
						<img class="card-img-top"
							src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621491401/barrita_01_rmvznq.png">
					</a>
					<div class="card-body">
						<h5 class="card-title" href="#">BARRITA DE CHOCOLATE</h5>
						<p class="card-text-money">$1 C/U</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Productos -->
	</div>
	<!-- End Mega Container -->

	<br><br>

	<!-- Footer -->
	<div th:replace="includes/footer::footer" ></div>
	<!-- End Footer -->

	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>
	<!-- JS -->
</body>

</html>