<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel"
	th:fragment="carruselOtros">

	<!--Slides-->
	<div class="carousel-inner" role="listbox">

		<!--First slide-->
		<div class="carousel-item active">

			<div class="row">
				<div class="col-md-4">
					<div class="card mb-2 active">
						<a th:href="@{../../coleccion/otrosProductos/otros-barritas}" class="card-img-top">
							<img class="card-img-top"
								src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621491401/barrita_01_rmvznq.png">
						</a>
						<div class="card-body">
							<h5 class="card-title" href="#">BARRITA DE CHOCOLATE</h5>
							<p class="card-text-money">$1 C/U</p><br>
						</div>
					</div>
				</div>

				<div class="col-md-4 clearfix d-none d-md-block">
					<div class="card mb-2">
						<a th:href="@{../../coleccion/otrosProductos/otros-galleton-avena}" class="card-img-top">
							<img class="card-img-top"
								src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621202483/galleton2_2000x_idp9aq.jpg">
						</a>
						<div class="card-body">
							<h5 class="card-title">GALLETÓN DE AVENA</h5>
							<p class="card-text-money">desde $1</p>
							<p class="card-text"><small class="text-muted">Bolsa de 4, 6 y 12 unidades.</small></p>
						</div>
					</div>
				</div>

				<div class="col-md-4 clearfix d-none d-md-block">
					<div class="card mb-2">
						<a th:href="@{../../coleccion/otrosProductos/otros-alfajores}" class="card-img-top">
							<img class="card-img-top"
								src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621202483/alfajor2_2000x_uszqsh.jpg">
						</a>
						<div class="card-body">
							<h5 class="card-title">ALFAJORES</h5>
							<p class="card-text-money">desde $1</p>
							<p class="card-text"><small class="text-muted">Bolsa de 4, 6 y 12 unidades.</small></p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--/.First slide-->

		<!--Second slide-->
		<div class="carousel-item">

			<div class="row">
				<div class="col-md-4">
					<div class="card mb-2 active">
						<a th:href="@{../../coleccion/otrosProductos/otros-barritas}" class="card-img-top">
							<img class="card-img-top"
								src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621491401/barrita_01_rmvznq.png">
						</a>
						<div class="card-body">
							<h5 class="card-title" href="#">BARRITA DE CHOCOLATE</h5>
							<p class="card-text-money">$1 C/U</p><br>
						</div>
					</div>
				</div>

				<div class="col-md-4 clearfix d-none d-md-block">
					<div class="card mb-2">
						<a th:href="@{../../coleccion/otrosProductos/otros-galleton-avena}" class="card-img-top">
							<img class="card-img-top"
								src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621202483/galleton2_2000x_idp9aq.jpg">
						</a>
						<div class="card-body">
							<h5 class="card-title">GALLETÓN DE AVENA</h5>
							<p class="card-text-money">desde $1</p>
							<p class="card-text"><small class="text-muted">Bolsa de 4, 6 y 12 unidades.</small></p>
						</div>
					</div>
				</div>

				<div class="col-md-4 clearfix d-none d-md-block">
					<div class="card mb-2">
						<a th:href="@{../../coleccion/otrosProductos/otros-alfajores}" class="card-img-top">
							<img class="card-img-top"
								src="https://res.cloudinary.com/dbuhnmtty/image/upload/v1621202483/alfajor2_2000x_uszqsh.jpg">
						</a>
						<div class="card-body">
							<h5 class="card-title">ALFAJORES</h5>
							<p class="card-text-money">desde $1</p>
							<p class="card-text"><small class="text-muted">Bolsa de 4, 6 y 12 unidades.</small></p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!--/.Second slide-->
	</div>
	<!--/.Slides-->
	<a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<!--/.Carousel Wrapper-->