
<!-- Footer -->

<footer class="footer bg-dark text-center text-lg-start " style="color: white; " th:fragment="footer">
	<!-- Grid container -->
	<div class="container p-4">
		<!--Grid row-->
		<div class="row">
			<!--Grid column-->
			<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
				<h5 class="text-uppercase">DulceBajón</h5>
				<p>
					Siempre es un honor tener su preferencia. Trabajando para calmar esos bajones desde 1999.
				</p>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Más</h5>

				<ul class="list-unstyled mb-0">
					<li>
						<a href="#!" class="text-light">Quienes Somos</a>
					</li>
					<li>
						<a href="#!" class="text-light">Preguntas Frecuentes</a>
					</li>
					<li>
						<a href="#!" class="text-light">Terminos y Condiciones</a>
					</li>
					<li>
						<a href="#!" class="text-light">Soporte</a>
					</li>
					<li>
						<a href="#!" class="text-light">Horario y Teléfonos</a>
					</li>
				</ul>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Redes Sociales</h5>

				<ul class="list-unstyled mb-0">
					<li>
						<a href="#!" class="text-light">Instagram</a>
					</li>
					<li>
						<a href="#!" class="text-light">Facebook</a>
					</li>
					<li>
						<a href="#!" class="text-light">Telegram</a>
					</li>
					<li>
						<a href="#!" class="text-light">Whatsapp</a>
					</li>
				</ul>
			</div>
			<!--Grid column-->
		</div>
		<!--Grid row-->
	</div>
	<!-- Grid container -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		Diseñado por Erick Molina
	</div>
</footer>
<!-- End Footer -->