<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Contacto - DulceBajón</title>
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	<!-- CSS -->
	<style>
		body {
			background-attachment: fixed;
			background-position: center center;
			background-size: cover;
			background-image: url(https://res.cloudinary.com/dbuhnmtty/image/upload/v1620241746/Dise%C3%B1o_sin_t%C3%ADtulo_haxsad.png);
		}
	</style>
</head>

<body>
	<!-- NavBar -->
	<div th:replace="includes/navbar::navbar"></div><br>
	<!-- NavBar End -->

	<div class="container" id="containerContacto" style="background-color: floralwhite;">
		<div class="container">
			<br><h2 class="secondTitle">Datos del Contacto</h2>
		</div>
		<div class="row">
			<div class="col-12"><br>
				<ul class="list-group">
					<li class="list-group-item" th:text="${nombre}"></li><br>
					<li class="list-group-item" th:text="${correo}"></li><br>
					<li class="list-group-item" th:text="${mensaje}"></li><br>
				</ul>
				<a class="btn btn-dark btn-block" th:href="@{/contacto}" role="button">Aceptar</a>
			</div>
		</div>
		<br><br><br>
	</div>
	<br>
	<!-- Footer -->
	<div th:replace="includes/footer::footer"></div>
	<!-- End Footer -->

	<!-- JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>
	<!-- JS -->
</body>

</html>